body{
    background-color: rgb(146, 132, 201);
}
.container{
    background-color: blanchedalmond;
    position:absolute;
    top: 30%;
    left:42%;
    border-radius: 10px;
    padding: 30px;
}  
